/* common code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left-section img {
    width: 400px;
}

.price,
.input-field {
    width: 300px;
}

/* common button design */
.button-all{
    color: black;
    background-color:rgb(241, 236, 236);
}